{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
 <h1>Edit your account</h1>
 <p>You can edit your account using the following form:</p>
 {% load thumbnail %}
 {% thumbnail image.image 300x0 quality=100 %}
 <a href="/media/{{profile_form.instance.photo}}">
 <img src="/media/{{profile_form.instance.photo}}" alt="photo" style="width: 157px; height: 180px;" />
</a>
 <form method="post" enctype="multipart/form-data">
 {{ user_form.as_p }}
 {{ profile_form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Save changes"></p>
 </form>
{% endblock %}